[Desktop Entry]
Icon=text-html
Name=https://github.com/shrinidhikr/Content-Based-Recommender-System/blob/master/IMDB_Top250Engmovies2_OMDB_Detailed.csv
Type=Link
URL[$e]=https://github.com/shrinidhikr/Content-Based-Recommender-System/blob/master/IMDB_Top250Engmovies2_OMDB_Detailed.csv
