[Desktop Entry]
Icon=text-html
Name=https://www.kdnuggets.com/2019/11/content-based-recommender-using-natural-language-processing-nlp.html
Type=Link
URL[$e]=https://www.kdnuggets.com/2019/11/content-based-recommender-using-natural-language-processing-nlp.html
