[Desktop Entry]
Icon=text-html
Name=https://docs.google.com/presentation/d/1JU6K5FtRovVQSAGKFPljZhZp1pLQGcn01LCrn7CG3Tk/edit?ts=600aeeb9#slide=id.gafb70c056e_0_19
Type=Link
URL[$e]=https://docs.google.com/presentation/d/1JU6K5FtRovVQSAGKFPljZhZp1pLQGcn01LCrn7CG3Tk/edit?ts=600aeeb9#slide=id.gafb70c056e_0_19
